body {
    font-family: monospace;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 900px;
    margin: 80px auto;
}

.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.posts__heading {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
}

.posts__date {
    color: #777;
}

.post__heading {
    font-size: 36px;
}

.post__date {
    display: block;
    margin: 0;
}

.post__content {
    font-size: 16px;
    color: #333;
}
